*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
}
.container{
    padding: 30px;
    background-color: #fff;
    border-radius: 16px;
}